<h1>Quotes authors</h1>

<table>
  <tr>
    <th>Authors</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= link_to author, quotes_url(:author => author) %></td>
  </tr>
<% end %>
</table>

