<h1>Quotes categories</h1>

<table class='categories'>
  <tr class='quotes'>
    <th class='quotes'>Category</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td class='quotes'><%= link_to category.name, edit_category_path(category) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
